window#waybar {
  opacity: 0.85;
  background: transparent;
}

* {
  background-color: #282828;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio {
  min-width: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

#network {
  min-width: 12px;
  margin-right: 5px;
  margin-left: 10px;
}

#custom-expand-icon {
  margin-right: 18px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-vpn {
  margin: 0 8px 0 8px;
  color: #a55555;
}

#custom-vpn.active {
  color: #a6e3a1;
}

